<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrera</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <header data-th-replace="~{/layouts/header :: header}"></header>
    <h2 data-th-text="${#strings.isEmpty(carrera.id) ? 'Nueva Carrera' : 'Editar Carrera'}"></h2>
    <form data-th-action="${action == 'guardar'}? @{/carreras/guardar} : @{/carreras/modificar}" th:object="${carrera}" class="w-50 m-auto my-5 p-3 border border-dark" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" id="id" th:field="*{id}" required>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
        </div>
        <div class="mb-3">
            <label for="anio" class="form-label">Años</label>
            <input type="number" class="form-control" id="anio" th:field="*{anio}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <a th:href="@{/carreras/listar}" class="btn btn-secondary mt-3">Salir</a>
    <footer data-th-replace="~{/layouts/footer :: footer}"></footer>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>
